{% extends 'base.html' %}



<div class="container">
  <div class="profile">
    <div class="header">
      <img>
      <div class="bio">
        <div class="profile-pic"></div>
        <div class="edit-button"></div>
        <div class="achievements"></div>
        <div class="info"></div>
      </div>
    </div>
    <div class="navigation">
      <div class="about"></div>
      <div class="reading-page"></div>
      <div class="post-page"></div>
      <div class="read-page"></div>
      <div class="wishlist-page"></div>
      <div class="reviews"></div>
    </div>
    {% block content %}

    {% endblock content %}