{% extends 'profile.html' %}


{% block content %}

<div class="list-page">
  <div class="list-header">
    <h1>Reading List:</h1>
  </div>
  <div class="list">
    <thead>
      <tr>
        <th scope="col">Book Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Price</th>
      </tr>
      <!-- </thead>
      {% for char in characters %}
          <tbody>
            <tr>
              <th scope="row">{{ char.level }}</th>
              <td>{{ char.name.title() }}</td>
              <td>{{ char.race.title() }}</td>
              <td>{{ char.charClass.title() }}</td>
              <td>{{ char.hp }}</td>
              <td>{{ char.ac }}</td>
              <td>{{ char.strength }}</td>
              <td>{{ char.dexterity }}</td>
              <td>{{ char.constitution }}</td>
              <td>{{ char.intellegence }}</td>
              <td>{{ char.wisdom }}</td>
              <td>{{ char.charisma }}</td>
            </tr>
          </tbody>    
      {% endfor %} -->
  </div>
</div>
</div>
</div>
{% endblock content %}